*.iml
.gradle/
.idea/
.kotlin/
build/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.xcworkspace
!iosApp/iosApp.xcworkspace/
!iosApp/iosApp.xcworkspace/**
xcuserdata/
DerivedData/
Pods/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

target/
output/
*.png
!design/app-icon/*.png
!composeApp/src/androidMain/rijksmuseum_launcher-playstore.png
!composeApp/src/androidMain/res/mipmap-*/ic_launcher*.png
!iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/*.png
!composeApp/src/commonMain/composeResources/files/demo1.png
!composeApp/src/commonMain/composeResources/files/stories/**/*.png
*.jpg
!composeApp/src/commonMain/composeResources/files/stories/**/*.jpg
*.jpeg
.gradle/config-cache/
.DS_Store
.vscode/
node_modules/
